<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690688050458-vrafh3vsaoup7fhc1e2o3hfjg52ms134.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690688050458-vrafh3vsaoup7fhc1e2o3hfjg52ms134</string>
	<key>API_KEY</key>
	<string>AIzaSyB6a_NpySMNmB0jf95El4sIOec_llxW740</string>
	<key>GCM_SENDER_ID</key>
	<string>690688050458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandesh.iCare</string>
	<key>PROJECT_ID</key>
	<string>icare-a7156</string>
	<key>STORAGE_BUCKET</key>
	<string>icare-a7156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690688050458:ios:db4e9d68fb1e86bde398a3</string>
	<key>DATABASE_URL</key>
	<string>https://icare-a7156.firebaseio.com</string>
</dict>
</plist>